
@{
    Layout = "~/Views/Shared/_PartialView.cshtml";

    ViewBag.Title = "World CryptoCity | Settings";
}
    <main class="main-content">
        <section class="settings">

            <div class="settings__header">
                <h2>Settings</h2>

                <ul class="settings__tabs">
                    <li class="settings__tabs-item active" data-tab="1">User profile</li>
                    <li class="settings__tabs-item" data-tab="3">Wallets</li>
                </ul>
            </div>

            <div class="settings__content">

                <div id="tab-1" class="settings__content-item settings__profile active">


                    <div class="settings__row">
                        <div class="settings__col">

                            <div class="upload-image">

                                <div class="upload-image__area"></div>

                                <div class="settings__text">
                                    <h4>Load photo</h4>
                                    <p>Max file size is 20Mb. <br> You can also use Gravatar.</p>
                                </div>

                            </div>

                            <button href="#" class="btn btn--green">Browse</button>

                        </div>
                        <div class="settings__col">

                            <!-- <div class="settings__text">
                            <h4>Change Password</h4>
                            <p>Enable 2-factor authentication <br> on the security page.</p>
                        </div>

                        <a href="" class="btn btn--blue">Change password</a> -->

                        </div>
                    </div>

                    <form class="form settings-form">

                        <div class="form__row">

                            <div class="form__col-xl">
                                <label class="form__label">
                                    User name
                                </label>
                                <div class="input-wrap">
                                    <input type="text" value="Alex Balden">
                                </div>
                            </div>

                            <div class="form__col-lg">
                                <label class="form__label">
                                    Email
                                </label>
                                <div class="input-wrap">
                                    <input type="text" value="infor@grypterium.io">
                                </div>
                            </div>

                            <div class="form__col-xs">
                                <label class="form__label">
                                    Currency
                                </label>
                                <div class="input-wrap">
                                    <input type="text" name="" value="USD" readonly="" class="">
                                </div>
                            </div>

                        </div>

                        <div class="form__row">

                            <div class="form__col-xl">
                                <label class="form__label">Date of birth</label>
                                <div class="form__row">
                                    <div class="form__col-xl">
                                        <select class="custom-select">
                                            <option value="January">January</option>
                                            <option value="February">February</option>
                                            <option value="March">March</option>
                                            <option value="April">April</option>
                                            <option value="May">May</option>
                                            <option value="June">June</option>
                                            <option value="July">July</option>
                                            <option value="August">August</option>
                                            <option selected value="September">September</option>
                                            <option value="October">October</option>
                                            <option value="November">November</option>
                                            <option value="December">December</option>
                                        </select>
                                    </div>
                                    <div class="form__col-sm">
                                        <div class="custom-select">
                                            <select>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="3">8</option>
                                                <option value="8">3</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                                <option value="13">13</option>
                                                <option value="14">14</option>
                                                <option selected value="15">15</option>
                                                <option value="16">16</option>
                                                <option value="17">17</option>
                                                <option value="18">18</option>
                                                <option value="19">19</option>
                                                <option value="20">20</option>
                                                <option value="21">21</option>
                                                <option value="22">22</option>
                                                <option value="23">23</option>
                                                <option value="24">24</option>
                                                <option value="25">25</option>
                                                <option value="26">26</option>
                                                <option value="27">27</option>
                                                <option value="28">28</option>
                                                <option value="29">29</option>
                                                <option value="30">30</option>
                                                <option value="31">31</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form__col-sm">

                                        <select>
                                            <option value="1974">1974</option>
                                            <option value="1975">1975</option>
                                            <option value="1976">1976</option>
                                            <option selected value="1977">1977</option>
                                            <option value="1978">1978</option>
                                            <option value="1979">1979</option>
                                        </select>

                                    </div>
                                </div>
                            </div>

                            <div class="form__col-lg">
                                <label class="form__label">Adress</label>
                                <div class="input-wrap">
                                    <input type="text" value="av. Miry 23">
                                </div>
                            </div>

                            <div class="form__col-xs">
                                <label class="form__label">
                                    Language
                                </label>
                                <div class="input-wrap">
                                    <input type="text" name="" value="English" readonly="" class="">
                                </div>
                            </div>

                        </div>

                        <div class="form__row">

                            <div class="form__col-xl">
                                <label class="form__label">Date of birth</label>
                                <select class="custom-select">
                                    <option value="Philippines">Philippines</option>
                                </select>
                            </div>

                            <div class="form__col-lg">
                                <label class="form__label">Select city</label>
                                <select class="custom-select">
                                    <option value="City">City</option>
                                    <option value="City2">Cit2y</option>
                                    <option value="City3">City3</option>
                                </select>
                            </div>

                            <div class="form__col-xs">
                                <label class="form__label">Postcode</label>
                                <div class="input-wrap">
                                    <input type="text" value="54003">
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class=" col-md-6">
                                <label class="form__label">Old Password</label>
                                <div class="form__row">
                                    <div class="input-wrap">
                                        <input type="text" name="password">
                                    </div>
                                </div>
                            </div>

                            <div class=" col-md-6">
                                <label class="form__label">New Password</label>
                                <div class="form__row">
                                    <div class="input-wrap">
                                        <input type="text" name="password">
                                    </div>
                                </div>
                            </div>
                            <div class=" col-md-6">
                                <label class="form__label">Confirm Password</label>
                                <div class="form__row">
                                    <div class="input-wrap">
                                        <input type="text" name="password">
                                    </div>
                                </div>

                            </div>
                        </div>


                        <button class="btn btn--green">Change Password</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="btn btn--blue">Save Settings</button>
                        <br>
                        <br>

                        <strong>Change Password</strong>
                        <br>
                        <br>
                        <p style="color:grey;">Enable 2 factor authentication <br>on the security page.</p>

                    </form>

                </div>
                <div id="tab-2" class="settings__content-item settings__security">

                    <form class="security">

                        <div class="security__row">
                            <div class="security__col">
                                <div class="panel panel-default" style="width: 1055px;">
                                    <div class="panel-heading">
                                        Two-factor Authorization &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Additional Settings
                                    </div>
                                </div>
                                <p>Two-factor authorization allows you to significantly enhance the protection of your account.</p>

                                <ul class="checkbox-list">
                                    <li>
                                        <label class="checkbox">
                                            Request when signing in
                                            <input class="checkbox__input" type="checkbox">
                                            <span class="checkbox__checkmark"></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="checkbox">
                                            Prompt for payments / transfers (can not be disabled)
                                            <input class="checkbox__input" checked type="checkbox">
                                            <span class="checkbox__checkmark"></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="checkbox">
                                            Prompt when changing settings (can not be disabled)
                                            <input class="checkbox__input" disabled checked type="checkbox">
                                            <span class="checkbox__checkmark"></span>
                                        </label>
                                    </li>
                                </ul>


                                <div class="switch-block">
                                    <label class="switch">
                                        <input checked class="switch__checkbox" type="checkbox">
                                        <span class="switch__slider" style="background-color: #557ef8;"></span>
                                    </label>

                                    <p><b>Disable Two-Factor Authorization</b></p>
                                </div>

                            </div>
                            <div class="security__col">

                                <div class="security__block">
                                    <h3><br></h3>
                                    <p>Two-factor authorization allows you to significantly enhance the protection of your account.</p>

                                    <div class="switch-block">
                                        <label class="switch">
                                            <input class="switch__checkbox" type="checkbox">
                                            <span class="switch__slider"></span>
                                        </label>

                                        <p>Activate smart wallet protection for each authorization.</p>
                                    </div>
                                </div>

                                <div class="security__block">
                                    <h3>Billing password</h3>

                                    <div class="switch-block">
                                        <label class="switch">
                                            <input class="switch__checkbox" type="checkbox">
                                            <span class="switch__slider"></span>
                                        </label>

                                        <p>Request a password for each transfer / payment.</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="security__row">
                            <button href="#" class="btn btn--blue">Save settings</button>
                        </div>

                    </form>

                    <div class="connections">
                        <div class="panel panel-default" style="width: 1055px;">
                            <div class="panel-heading">
                                Last Account Connections
                            </div>
                        </div>

                        <div class="connections">
                            <div class="connection">
                                <div class="connection__data">
                                    June 26, 2017 5:59AM
                                </div>
                                <div class="connection__ip">
                                    5.254.65.114
                                </div>
                                <div class="connection__location">
                                    Berlin | Germany
                                </div>
                                <div class="connection__status">
                                    Successful login
                                </div>
                            </div>

                            <div class="connection">
                                <div class="connection__data">
                                    June 26, 2017 5:59AM
                                </div>
                                <div class="connection__ip">
                                    5.254.65.114
                                </div>
                                <div class="connection__location">
                                    Berlin | Germany
                                </div>
                                <div class="connection__status">
                                    Successful login
                                </div>
                            </div>

                            <div class="connection">
                                <div class="connection__data">
                                    June 26, 2017 5:59AM
                                </div>
                                <div class="connection__ip">
                                    5.254.65.114
                                </div>
                                <div class="connection__location">
                                    Berlin | Germany
                                </div>
                                <div class="connection__status">
                                    Successful login
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div id="tab-3" class="settings__content-item settings__wallets ">

                    <div class="wallet__list">
                        <div class="wallet__item">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="3">
                                            <button href="#" class="btn btn--blue">Save Changes</button>
                                            <button href="#" class="btn btn--blue">Edit wallet</button>
                                        </td>
                                    </tr>

                                </tfoot>

                            </table>




                        </div>

                    </div>

        </section>
    </main>