
@{
    Layout = "~/Views/Shared/_PartialView.cshtml";

    ViewBag.Title = "Genealogy";
}
@section Styles{


    <link rel="stylesheet" href="~/group-tree_files/bootstrap.min.css">
    <link href="~/group-tree_files/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="~/group-tree_files/main.min.css">
    <link rel="stylesheet" href="~/group-tree_files/defaults.css">
}
<main class="main-content">

    <div class="buy">
        <div class="buy__header">

            <h2>Group Tree</h2>

        </div>
        <div class="buy__body">

            <div class="exchange">
                <div class="exchange__col">

                    <div class="form__col credit-card-name">
                        <label class="form__label">Search:</label>
                        <div class="input-wrap">
                            <input type="text">
                            <br>
                            <br>
                            <button type="submit" class="btn btn-primary">Search</button>
                        </div>

                    </div>
                </div>
            </div>
            <div class="wallets__list">

                <a href="group-tree.html" class="wallet" style="background-color: #FF0800;">

                    <span class="wallet__header">
                        <span class="wallet__currency">
                            <span class="wallet__currency-icon">

                            </span>
                            <span class="wallet__currency-info">
                                <span>Your Investment</span>

                            </span>
                        </span>

                        <span class="wallet__course">
                            <span> </span>
                            <span>2000 </span>
                        </span>
                    </span>

                    <span class="wallet__bg-img">

                    </span>
                </a>
                <a href="group-tree.html" class="wallet" style="background-color: #03A57F;">
                    <span class="wallet__header">
                        <span class="wallet__currency">

                            <span class="wallet__currency-info">
                                <span>Direct Partner</span>

                            </span>
                        </span>

                        <span class="wallet__course">
                            <span>4</span>

                        </span>
                    </span>


                </a>



                <a href="group-tree.html" class="wallet" style="background-color: #2e6da4;">
                    <span class="wallet__header">
                        <span class="wallet__currency">

                            <span class="wallet__currency-info">
                                <span>Direct Volume</span>

                            </span>
                        </span>

                        <span class="wallet__course">
                            <span>200,000</span>

                        </span>
                    </span>

                </a>

                <a href="group-tree.html" class="wallet" style="background-color: green;">
                    <span class="wallet__header">
                        <span class="wallet__currency">

                            <span class="wallet__currency-info">
                                <span>Total Group Volume</span>

                            </span>
                        </span>
                        <span class="wallet__course">
                            <span>1,000,000</span>
                        </span>
                    </span>
                </a>




                 


            </div>
        </div>
    </div>
</main>



@section Scripts{
    <script src="~/group-tree_files/webfont.js" type="text/javascript" async=""></script>
    <script type="text/javascript">
        WebFontConfig = {
            google: { families: ['Lato:300,400,500,700'] }
        };
        (function () {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
                '://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
    </script>

    <script src="~/group-tree_files/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-2.2.4.min.js"><\/script>')</script>

    <script src="~/group-tree_files/scripts.min.js"></script>
}