
@{
    Layout = "~/Views/Shared/_PartialView.cshtml";

    ViewBag.Title = "Genealogy";
}
@model GenealogyVM
<main class="main-content">



    <div class="buy">
        <div class="buy__header">

            <h2>Genealogy Map</h2>

        </div>
        <div class="buy__body">

            <div class="exchange">
                <div class="exchange__col">

                    <div class="form__col credit-card-name">
                        <label class="form__label">Search:</label>
                        <div class="input-wrap">
                            <input type="text">
                            <br>
                            <br>
                            <button type="submit" class="btn btn-primary">Search</button>
                        </div>

                    </div>
                </div>
            </div>
            <div class="wallets__list">

                <a href="#" class="wallet" style="background-color: #FF0800;">

                    <span class="wallet__header">
                        <span class="wallet__currency">
                            <span class="wallet__currency-icon">

                            </span>
                            <span class="wallet__currency-info">
                                <span>Your Investment</span>

                            </span>
                        </span>

                        <span class="wallet__course">
                            <span> </span>
                            <span>@Html.DisplayFor(model => model.TotalInvestment) </span>
                        </span>
                    </span>

                    <span class="wallet__bg-img">

                    </span>
                </a>
                <a href="#" class="wallet" style="background-color: #03A57F;">
                    <span class="wallet__header">
                        <span class="wallet__currency">

                            <span class="wallet__currency-info">
                                <span>Direct Partner</span>

                            </span>
                        </span>

                        <span class="wallet__course">
                            <span>@Html.DisplayFor(model => model.DirectPartners)</span>

                        </span>
                    </span>


                </a>



                <a href="#" class="wallet" style="background-color: #2e6da4;">
                    <span class="wallet__header">
                        <span class="wallet__currency">

                            <span class="wallet__currency-info">
                                <span>Direct Volume</span>

                            </span>
                        </span>

                        <span class="wallet__course">
                            <span>@Html.DisplayFor(model => model.DirectVolume)</span>

                        </span>
                    </span>

                </a>

                <a href="#" class="wallet" style="background-color: green;">
                    <span class="wallet__header">
                        <span class="wallet__currency">

                            <span class="wallet__currency-info">
                                <span>Total Group Volume</span>

                            </span>
                        </span>
                        <span class="wallet__course">
                            <span>@Html.DisplayFor(model => model.TotalGroupVolume)</span>
                        </span>
                    </span>
                </a>
            </div>
        </div>
    </div>


    <div align="center">
        <div class="panel panel-default" style="width: 1055px;" align="left">
            <div class="panel-heading">
                <strong>Genealogy </strong>
            </div>

            <div class="panel-body">
                <div class="wallets__list">
                </div>
                <div style="height:40vh" id="chart-container"></div>


            </div>
        </div>




        <script src="../ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="~/js/jquery-2.2.4.min.js"><\/script>')</script>
        <script src="~/js/jquery-2.2.4.min.js"></script>

        <script src="~/js/scripts.min.js"></script>

        <script type="text/javascript" src="~/js/jquery.min-1.js"></script>
        <script type="text/javascript" src="~/js/jquery.orgchart.js"></script>
        @section Scripts{

            <script type="text/javascript">

                var datascource = {
                    'name': 'You',
                    'title': 'Admin',
                    'children': [
                        { 'name': 'Left', 'title': 'Vacant Position' },
                        { 'name': 'Right', 'title': 'Vacant Position' }
                    ]
                };

                //$('#chart-container').orgchart({
                //    'data': datascource,
                //    'nodeContent': 'title',
                //    'toggleSiblingsResp': true
                //});
                var oc = $('#chart-container').orgchart({
                    'data': datascource,
                    'nodeContent': 'title',
                    'pan': true,
                    'zoom': true,
                    'initCompleted': function ($chart) {
                        oc.setChartScale(oc.$chart, 1.5);
                        document.getElementsByClassName('orgchart')[0].style.transform = "matrix(2, 0, 0, 2, 0, 100)";                      
                    }
                });
              

                $('#togglePan').on('click', function () {
                    // of course, oc.setOptions({ 'pan': this.checked }); is also OK.
                    oc.setOptions('pan', this.checked);
                });

                $('#toggleZoom').on('click', function () {
                    // of course, oc.setOptions({ 'zoom': this.checked }); is also OK.
                    oc.setOptions('zoom', this.checked);
                });

            </script>
        }




        <!-- Mirrored from frontend.test/group-tree by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 13 Dec 2019 01:19:59 GMT -->

    </div>
</main>