
@{
    Layout = "~/Views/Shared/_PartialView.cshtml";

    ViewBag.Title = "World CryptoCity | Trade";
} <main class="main-content">

    <div class="buy">
        <div class="buy__header">

            <h2>WCCP Converter</h2>

        </div>
        <div class="buy__body">

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <select class="mdb-select md-form" style="display: none;">
                            @*<option value="" disabled="" selected="">BTC</option>
                            <option value="BITCOIN">BITCOIN</option>
                            <option value="TETHER">TETHER</option>
                            <option value="BITCOINCASH">BITCOINCASH</option>*@
                            @*<option value="ETHERIUM">ETHERIUM</option>*@
                            <option value="WCCP">WCCP</option>
                        </select> 
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="input-wrap">
                        <input type="text" name="" class="" placeholder="Amount">
                    </div>
                </div>
                <h4 style="color:red; margin-left:17px;">Minimum 30 WCCP or more Fee 3%</h4>

            </div>

            @*<div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <select class="mdb-select md-form" style="display: none;">
                            <option value="" disabled="" selected="">BTC</option>
                            <option value="BITCOIN">BITCOIN</option>
                            <option value="TETHER">TETHER</option>
                    <option value="BITCOINCASH">BITCOINCASH</option>
                    <option value="ETHERIUM">ETHERIUM</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="input-wrap">
                        <input type="text" name="middlename" class="" placeholder="Amount">
                    </div>
                </div>
            </div>*@

            <div class="modal-footer" style="border:none">
                <button type="button" class="btn btn-primary">Convert</button>
            </div>















            <script src="../ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
            <script>window.jQuery || document.write('<script src="js/jquery-2.2.4.min.js"><\/script>')</script>
            <script src="js/jquery-2.2.4.min.js"></script>

            <script src="js/scripts.min.js"></script>




            <!-- Mirrored from frontend.test/wccp-converter by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 13 Dec 2019 01:19:59 GMT -->

        </div>
    </div>
</main>