
@{
    Layout = "~/Views/Shared/_PartialView.cshtml";

    ViewBag.Title = "Cash In";
}
@section Styles{


    <link rel="stylesheet" href="~/cash-in_files/bootstrap.min.css">
    <link href="~/cash-in_files/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="~/cash-in_files/main.min.css">
    <link rel="stylesheet" href="~/cash-in_files/defaults.css">
}
<main class="main-content">

    <div class="buy">
        <div class="buy__header">

            <h2>Cash In</h2>

            <a href="cash-in.html" class="btn btn--blue">sale currency</a>

        </div>

        <div class="buy__body">

            <div class="exchange">
                <div class="exchange__col">
                    <label class="form__label">Give Currency:</label>
                    <div class="group-input">
                        <input type="text" value="0.00">
                        <select class="custom-select" style="display: none;">
                            <option value="USD">USD</option>
                            <option value="EUR">EUR</option>
                            <option value="UAH">UAH</option>
                        </select> 
                    </div>
                </div>
                <div class="exchange__col">
                    <label class="form__label">Get Currency:</label>
                    <div class="group-input">
                        <input type="text" value="0.00">
                        <select class="custom-select" style="display: none;">
                            <option value="BTC">BTC</option>
                            <option value="ETH">ETH</option>
                            <option value="USDT">USDT</option>
                        </select> 
                    </div>
                </div>
            </div>




            <div class="d-none">

                <form class="popup popup-add-wallet zoom-anim-dialog" id="add-wallet">
                    <div class="popup__content">


                        <img class="popup-add-wallet__img" src="~/cash-in_files/popup-add-wallet-icon.png" alt="">
                        <h3>Add new wallet</h3>

                        <div class="popup-add-wallet__row">

                            <div class="input-wrap">
                                <input type="text" placeholder="Name wallet">
                            </div>

                            <select class="custom-select" style="display: none;">
                                <option value="Bitcoin">Bitcoin</option>
                                <option value="Ethereum">Ethereum</option>
                                <option value="Litecoin">Litecoin</option>
                            </select><div class="custom-select">
                                <button class="custom-select__option custom-select__option--value" type="button">Bitcoin</button>
                                <div class="custom-select__dropdown" style="display: none;"><button class="custom-select__option" type="button">Ethereum</button><button class="custom-select__option" type="button">Litecoin</button></div>
                            </div>

                        </div>

                        <button class="btn btn--blue btn--full">Add new wallet</button>
                    </div>
                    <div class="popup__thanks">
                        <img src="~/cash-in_files/popup-success.png" alt="">
                        <h3>Your wallet added successful!</h3>
                    </div>
                </form>

            </div>
             



        </div>
    </div>
</main>


@section Scripts{
    <script src="~/cash-in_files/webfont.js" type="text/javascript" async=""></script>
    <script type="text/javascript">
        WebFontConfig = {
            google: { families: ['Lato:300,400,500,700'] }
        };
        (function () {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
                '://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
    </script>

    <script src="~/cash-in_files/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-2.2.4.min.js"><\/script>')</script>
 
    <script src="~/cash-in_files/scripts.min.js"></script>
}