
@{
    Layout = "~/Views/Shared/_PartialView.cshtml";

    ViewBag.Title = "World CryptoCity | WCC History";
}
@model TradeVM
<main class="main-content">

    <div class="buy">
        <div class="buy__header" style="padding-bottom:20px">

            <h2>Affiliates History</h2>
        </div>


        <div style="margin-top: 20px; padding-left:40px;padding-right:40px; background-color:white">


            <table id ="datatable_history "class="table table-hover">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Investment ID</th>
                        <th>USDT Rate Amount</th>
                        <th>Profit</th>
                        <th>Bonus Type</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.TradeTransactions)
                    {
                        <tr>
                            <td>

                                @Html.DisplayFor(modelItem => item.DividendDate)
                            </td>
                            <td>
                                @*@Html.DisplayFor(modelItem => item.InvestmentID)*@
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.DividendRate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DividendPrice)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DividendBonusCd)
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>

</main>


@section Scripts{
<script>  $(document).ready(function() {
    $('#datatable_history').DataTable( {
    initComplete: function () {
    this.api().columns().every( function () {
    var column = this;
    var select = $('<select><option value=""></option></select>')
    .appendTo( $(column.footer()).empty() )
    .on( 'change', function () {
    var val = $.fn.dataTable.util.escapeRegex(
    $(this).val()
    );

    column
    .search( val ? '^'+val+'$' : '', true, false )
    .draw();
    } );

    column.data().unique().sort().each( function ( d, j ) {
    select.append( '<option value="'+d+'">'+d+'</option>' )
    } );
    } );
    }
    } );
    } );</script>

}