<!DOCTYPE html>
<!-- saved from url=(0028)http://frontend.test/sign-up -->
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title</title>
    <link href="~/assets/css" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/assets/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/galaxy-style.css">
</head>
<body>







    @RenderBody() 
    @RenderSection("Scripts", required: false)



    <script src="~/assets/jquery-3.3.1.min.js"></script>
    <script src="~/assets/popper.min.js"></script>
    <script src="~/assets/bootstrap.min.js"></script>
    <script src="~/assets/particles.js"></script>
    <script src="~/assets/custom.js"></script>




</body>
</html>