
<div class="modal fade" id="sendModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="z-index: 1600;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Send</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" align="center" style="text-align:center">
                <p>This feature is currently under construction</p>
                <p>It will be ready soon. Try again later</p>
                @*<h3 class="form__title" style="margin-top:10px;margin-bottom:10px;">Receive | Bitcoin</h3>
                *@

                <div class="col-md-8" style="padding:0px;">
                    <div class="form-group">
                        <label>Recipient Address</label>
                        <input type="text" style="text-align:center" id="PaymentAddress" placeholder="BTC Address.." class="form-control" readonly>
                    </div>
                </div>

                <div class="col-md-8" style="padding:0px;">
                    <div class="form-group">
                        <label>Amount to be sent</label>
                        <input type="number" style="text-align:center" id="PaymentAddress"  class="form-control" readonly>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                @*<a class="btn btn-primary" onclick="location.href='@Url.Action("CancelConvert", "Admin")'">Confirm Cancellation</a>*@
            </div>
        </div>
    </div>
</div>