@{

    ViewBag.Title = "WCC Admin | Account";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@model UserVM
<div id="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb float-xl-right">
        <li class="breadcrumb-item"><a href="javascript:;">Admin Account</a></li>
        <li class="breadcrumb-item active">All channels</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Admin Details <small> </small></h1>


    <div class="row">

        <div class="col-md-12">
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    @*<div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                    </div>*@
                    <h4 class="panel-title">Admin Account</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label>Username</label>
                                <input type="text" value="@Html.DisplayFor(model => model.UserInfo.UserName) "   class="form-control" readonly="">  
                            </div>
                        </div>
                    
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label>Date Joined</label>
                                <input type="date" name=""value="@Html.DisplayFor(model => model.UserInfo.CreatedOn).ToString() " class="form-control" readonly="">
                            </div>
                        </div>
                       
                    </div>

                    @*<div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Trade</label>
                                <input type="number" name="" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label>Set</label>
                            <div class="form-group">
                                <input type="number" name="" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-inverse">Submit</button>
                    </div>*@
                </div>
            </div>
        </div>

        @*<div class="col-md-12">
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                    <h4 class="panel-title">Trade History</h4>
                </div>
                <div class="panel-body">

                    <table class="table table-bordered">
                        <thead>

                        <th>Code</th>
                        <th>Date</th>
                        <th>Member Name (ID)</th>
                        <th>Int. Name</th>
                        <th>Trade Item</th>
                        <th>Quantity</th>

                        <th>Amount</th>
                        </thead>

                        <tbody>
                            <tr>

                                <td colspan="16"></td>
                            </tr>
                        </tbody>

                    </table>

                </div>
            </div>
        </div>*@



    </div>
    <!-- end panel -->
</div>