
@{
    Layout = "~/Views/Shared/_PartialView.cshtml";

    ViewBag.Title = "Genealogy";
}

<main class="main-content" style="height: 1000px;">
    <section class="wallets">
        <div class="card content-area">
            <div class="card-innr">
                <div class="card-head">
                    <h4 class="card-title">KYC lists</h4>
                </div>
                <table class="table table-bordered data-table dt-init user-tnx">
                    <thead>
                        <tr>
                            <th>USER</th>
                            <th>DOC TYPE</th>
                            <th>DOCUMENTS</th>
                            <th></th>
                            <th>STATUS	</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>

                        </tr>
                        <!-- .data-item -->
                    </tbody>
                </table>
            </div>
            <!-- .card-innr -->
        </div>
        <!-- .card -->
        </section>
        </main>
