
@{
    Layout = "~/Views/Shared/_AdminPartialView.cshtml";

    ViewBag.Title = "WCC Admin | Transactions";
}

<main class="main-content" style="height: 1000px;">
    <section class="wallets">
        <div class="card content-area">
            <div class="card-innr">
                <div class="card-head">
                    <h4 class="card-title">Admin Transactions</h4>
                </div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Tranx NO</th>
                            <th>currency </th>
                            <th>Amount</th>
                            <th>USD Amount</th>
                            <th>From</th>
                            <th>
                                <div>Type</div>
                            </th>
                            <th class="data-col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <!-- .data-item -->
                    </tbody>
                </table>
            </div>
            <!-- .card-innr -->
        </div>
        <!-- .card -->
     </section>
    </main>

