
@{
    Layout = "~/Views/Shared/_AdminPartialView.cshtml";

    ViewBag.Title = "WCC Admin | User Management";
}

<main class="main-content" style="height: 1000px;">
    <section class="wallets">
        <div class="card content-area">
            <div class="card-innr">
                <div class="card-head">
                    <h4 class="card-title">User lists</h4>
                </div>
                <table class="table table-bordered">
                    <thead>
                        <tr class="">
                            <th>USER</th>
                            <th>EMAIL </th>
                            <th>TOKENS</th>
                            <th>VERIFIED STATUS	</th>
                            <th>LAST LOGIN	</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>

                        </tr>
                        <!-- .data-item -->
                    </tbody>
                </table>
            </div>
            <!-- .card-innr -->
        </div>
        <!-- .card -->
            </section>
     </main>

