@{

    ViewBag.Title = "WCC Admin | Wallet Management";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@model WalletMVMList
<div id="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb float-xl-right">
        <li class="breadcrumb-item"><a href="javascript:;">Wallet</a></li>
        <li class="breadcrumb-item active">All channels</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Wallet Management  <small> </small></h1>

    <div class="row">


        <div class="col-md-12">
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    @*<div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                    </div>*@
                    <h4 class="panel-title">Wallet Management</h4>
                </div>
                <div class="table-responsive">
                    <div class="panel-body">


                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Currency</th>
                                    <th>Total Balance</th>
                                    <th> Available</th>
                                    <th>HOT</th>
                                    <th>COLD  </th>
                                    <th>Rate/USD </th>
                                    <th>USD</th>
                                    <th>Receive</th>
                                    <th>Send</th>

                                </tr>
                            </thead>
                            <tbody>
                                @*@foreach (var item in Model.WalletList)
                                    {*@
                                <tr>
                                    <td>

                                        Html.DisplayFor(modelItem => item.Currency)
                                    </td>
                                    <td>
                                        Html.DisplayFor(modelItem => item.TotalBalance)
                                    </td>

                                    <td>

                                        Html.DisplayFor(modelItem => item.Available)
                                    </td>
                                    <td>


                                        Html.DisplayFor(modelItem => item.HOT)
                                    </td>
                                    <td>

                                        Html.DisplayFor(modelItem => item.COLD)
                                    </td>
                                    <td>

                                        Html.DisplayFor(modelItem => item.Rate)
                                    </td>



                                    <td>

                                        Html.DisplayFor(modelItem => item.USD)
                                    </td>




                                    <td>
                                        <button class="btn btn-primary btn-block" id="from" data-toggle="modal" data-target="#fromModal">From Cold</button>

                                    </td>
                                    <td>

                                        <button class="btn btn-primary btn-block " id="send" data-toggle="modal" data-target="#toModal">To Cold</button>

                                    </td>





                                </tr>

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-12">
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                    <h4 class="panel-title">Transactions</h4>
                </div>
                <div class="table-responsive">
                    <div class="panel-body">
                     




 
                        <table class="display table dataTable table-bordered table-striped" id="property" cellspacing="0" width="100%">

                            <thead>
                                <tr>
                                    <th>CreatedOn</th>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Email </th>
                                    <th>Amount   </th>
                                    <th>Currency   </th>
                                    <th>Content   </th>
                                    <th>From   </th>
                                    <th>To   </th>
                                    <th>Txid    </th>
                                    <th>Status   </th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>CreatedOn</th>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Email </th>
                                    <th>Amount   </th>
                                    <th>Currency   </th>
                                    <th>Content   </th>
                                    <th>From   </th>
                                    <th>To   </th>
                                    <th>Txid    </th>
                                    <th>Status   </th>
                                </tr>
                            </tfoot>
                            <tbody>
                                <tr>
                                    @*@foreach (var item in Model.History)
                                        {*@
                                    <td>
                                        Html.DisplayFor(modelItem => item.CreatedOn)
                                    </td>
                                    <td>
                                        Html.DisplayFor(modelItem => item.ID)
                                    </td>
                                    <td> Html.DisplayFor(modelItem => item.Name) </td>
                                    <td>Html.DisplayFor(modelItem => item.Email) </td>
                                    <td>Html.DisplayFor(modelItem => item.Amount)   </td>
                                    <td>Html.DisplayFor(modelItem => item.Currency)    </td>
                                    <td>Html.DisplayFor(modelItem => item.Content)    </td>
                                    <td>Html.DisplayFor(modelItem => item.From)    </td>
                                    <td>Html.DisplayFor(modelItem => item.To)     </td>
                                    <td>Html.DisplayFor(modelItem => item.Txid)      </td>
                                    <td>Html.DisplayFor(modelItem => item.Status)     </td>
                                </tr>
                            </tbody>

                        </table>

                    </div>
                </div>
            </div>
        </div>
        <!-- end panel -->
    </div>
    <!-- end col-4 -->

    <partial name="PartialsWallet/From.cshtml" />
    <partial name="PartialsWallet/To.cshtml" />
</div>
@section Scripts{
    <style>
        .toggle-button {
            margin: 5px 0;
            border-radius: 20px;
            border: 2px solid #D0D0D0;
            height: 24px;
            cursor: pointer;
            width: 50px;
            position: relative;
            display: inline-block;
            user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            -moz-user-select: none;
        }

            .toggle-button span {
                position: absolute;
                left: 0;
                top: 0;
                border-radius: 100%;
                width: 26px;
                height: 26px;
                background-color: white;
                float: left;
                margin: -3px 0 0 -3px;
                border: 2px solid #D0D0D0;
                transition: left 0.3s;
            }

        .toggle-button-selected {
            background-color: #83B152;
            border: 2px solid #7DA652;
        }

            .toggle-button-selected span {
                left: 26px;
                top: 0;
                margin: 0;
                border: none;
                width: 24px;
                height: 24px;
                box-shadow: 0 0 4px rgba(0,0,0,0.1);
            }  .dataTable > thead > tr > th[class*="sort"]:after{
    content: "" !important;
}
    </style>
    <script>



        $('#send').click(function () {
            var currency = $(this).closest("tr").find("td").eq(0).text();
            var balance = $(this).closest("tr").find("td").eq(1).text();
            var available = $(this).closest("tr").find("td").eq(2).text();
            var hot = $(this).closest("tr").find("td").eq(3).text();
            var cold = $(this).closest("tr").find("td").eq(4).text();
            var rate = $(this).closest("tr").find("td").eq(5).text();
            var usd = $(this).closest("tr").find("td").eq(6).text();
            document.getElementById('currencyDetails').innerHTML = '<b> Currency : ' + currency + '</b>';
            document.getElementById('balanceDetails').innerHTML = '<b> Balance : ' + balance + '</b>';
            document.getElementById('availableDetails').innerHTML = '<b> Available : ' + available + '</b>';
            document.getElementById('hotDetails').innerHTML = '<b> HOT : ' + hot + '</b>';
            document.getElementById('coldDetails').innerHTML = '<b> COLD : ' + cold + '</b>';

            document.getElementById('rateDetails').innerHTML = '<b> RATE  : ' + rate + '</b>';
            document.getElementById('usdDetails').innerHTML = '<b> USD : ' + usd + '</b>';


        });

        $('#from').click(function () {
            var currency = $(this).closest("tr").find("td").eq(0).text();
            var balance = $(this).closest("tr").find("td").eq(1).text();
            var available = $(this).closest("tr").find("td").eq(2).text();
            var hot = $(this).closest("tr").find("td").eq(3).text();
            var cold = $(this).closest("tr").find("td").eq(4).text();
            var rate = $(this).closest("tr").find("td").eq(5).text();
            var usd = $(this).closest("tr").find("td").eq(6).text();
            document.getElementById('currencyDetails').innerHTML = '<b> Currency : ' + currency + '</b>';
            document.getElementById('balanceDetails').innerHTML = '<b> Balance : ' + balance + '</b>';
            document.getElementById('availableDetails').innerHTML = '<b> Available : ' + available + '</b>';
            document.getElementById('hotDetails').innerHTML = '<b> HOT : ' + hot + '</b>';
            document.getElementById('coldDetails').innerHTML = '<b> COLD : ' + cold + '</b>';

            document.getElementById('rateDetails').innerHTML = '<b> RATE  : ' + rate + '</b>';
            document.getElementById('usdDetails').innerHTML = '<b> USD : ' + usd + '</b>';


        });
   
        var d = new Date();

        var month = d.getMonth() + 1;
        var day = d.getDate();

        var output = d.getFullYear() + '/' +
            (month < 10 ? '0' : '') + month + '/' +
            (day < 10 ? '0' : '') + day;

        
        $('#property').DataTable({
            stateSave: true,
            autoWidth: true,
            dom: 'lBf<"toolbar">rtip<"clear">', fnInitComplete: function () {
                $('div.toolbar').html('<div class="dataTables_length" id=" "><label> <select name=" " aria-controls="property" class=""><option value="Withdrawal">Withdrawal</option><option value="Deposit">Deposit</option> </select></label></div><div id="example_filter" class="dataTables_filter input-daterange"><label><input type="text" id="from_date_picker" class="date-range-filter" placeholder="Date Start" data-date-format="mm-dd-yyyy" id="min" placeholder="" aria-controls="example">To<input type="text" id="to_date_picker" class="date-range-filter"  placeholder="Date End" data-date-format="mm-dd-yyyy" id="max" aria-controls="example"></label></div>');
            },
            buttons: [
                    {
                        extend: 'copy',
                       
                         className: 'dt-button btn btn-primary '
                    }, {
                        extend: 'csv',
                        orientation: 'landscape',
                        title: 'WCC.com',
                        messageTop: 'The information in this table is copyright to WCC.',
                    messageBottom: output,
                         className: 'dt-button btn btn-primary '
                    }, {
                        extend: 'excel',
                        orientation: 'landscape',
                        extend: 'excelHtml5',
                        title: 'WCC.com',
                        messageTop: 'The information in this table is copyright to WCC.',
                     messageBottom: output,
                         className: 'dt-button btn btn-primary '
                    }, {
                        extend: 'pdf',
                        orientation: 'landscape',
                    extend: 'pdfHtml5',
                          pageSize: 'LEGAL',
                        title: 'WCC.com',
                        messageTop: 'The information in this table is copyright to WCC.',
                        messageBottom: output,
                         className: 'dt-button btn btn-primary '
                    }, {
                        extend: 'print',
                        orientation: 'landscape',
                         pageSize: 'LEGAL',
                        title: 'WCC.com',
                        messageTop: 'The information in this table is copyright to WCC.',
                        messageBottom: output,
                         className: 'dt-button btn btn-primary '
                    }
            ]  
            }); 
        $(document).ready(function () {

            $('.input-daterange input').each(function () {
                $(this).datepicker('clearDates');
            });

            // Extend dataTables search
            $.fn.dataTable.ext.search.push(
                function (settings, data, dataIndex) {
                    var min = $('#min').val();
                    var max = $('#max').val();
                    var createdAt = data[0] || 1; // Our date column in the table

                    if (
                        (min == "" || max == "") ||
                        (moment(createdAt).isSameOrAfter(min) && moment(createdAt).isSameOrBefore(max))
                    ) {
                        return true;
                    }
                    return false;
                }
            );

            // Re-draw the table when the a date range filter changes
            $('.date-range-filter').change(function () {
                var table = $('#property').DataTable();
                table.draw();
            });


            $('.date-range-filter').datepicker();
        });
    </script>
}