@{

    ViewBag.Title = "World CryptoCity | Forgot Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model LoginVM

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 auth-left">
                <div class="row auth-form mb-4">
                    <div class="col-12 col-sm-12">
                        <div class="auth-text-top mb-4">
                            <h1>Forgot Password</h1>
                        </div>

                        <form class="form-horizontal" onsubmit=" sendFormData('@Url.Action("ForgotPassword", "Home")','POST',this); return false">

                            <div class="form-group">
                                <label for="email">Please enter your email address or username to receive an email to reset your password.</label>

                                <div class="input-icon">
                                    <i class="mdi mdi-account-circle"></i>
                                    <input type="text" class="form-control" id="username" asp-for="Username" name="Username" placeholder="Enter Username or email" autofocus>

                                </div>
                            </div>


                            <button onclick="showPreload(this);" class="btn btn-primary btn-block btn-c mt-4 mb-4">Submit</button>
                        </form>
                        <div class="btn-social mb-4">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 auth-right d-lg-flex d-none bg-gradient" id="particles">
                <div class="logo">
                </div>
                <div class="heading">
                </div>
                <div class="shape"></div>
            </div>
        </div>
    </div>
</section>

@section Scripts{

    <script src="~/assets/jquery-3.3.1.min.js"></script>
    <script src="~/assets/popper.min.js"></script>
    <script src="~/assets/bootstrap.min.js"></script>
    <script src="~/assets/particles.js"></script>
    <script src="~/assets/custom.js"></script>
    <script src="~/js/site_v2.js"></script>
    <script>

        $(".toggle-password").click(function () {

            $(this).toggleClass("fa-eye fa-eye-slash");
            var input = $($(this).attr("toggle"));
            if (input.attr("type") == "password") {
                input.attr("type", "text");
            } else {
                input.attr("type", "password");
            }
        });</script>
}


