<!DOCTYPE html>
<html lang="en">


<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- SITE TITLE -->
    <title>World CryptoCity</title>
    <!-- Favicon Icon -->
    <link rel="icon" href="~/img/favicon/fav.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/img/favicon/fav.png">
    <!-- Latest Bootstrap min CSS -->
    <link rel="stylesheet" href="~/styles/bootstrap/css/bootstrap.min.css">
    <!-- Google Font -->
    <link href="~/https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="~/styles/css/ionicons.min.css">
    <!--- owl carousel CSS-->
    <link rel="stylesheet" href="~/styles/owlcarousel/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/styles/owlcarousel/css/owl.theme.css">
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="~/styles/css/magnific-popup.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="~/styles/css/style.css">
    <link rel="stylesheet" href="~/styles/css/responsive.css">
    <link id="layoutstyle" rel="stylesheet" href="~/styles/color/theme.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="~/https://www.googletagmanager.com/gtag/js?id=UA-106310707-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-106310707-1', { 'anonymize_ip': true });
    </script>

    <!-- Start of StatCounter Code -->
    <script>
	<!--
        var sc_project = 11921154;
        var sc_security = "6c07f98b";
        var scJsHost = (("https:" == document.location.protocol) ?
            "https://secure." : "http://www.");
        //-->

        document.write("<sc" + "ript src='" + scJsHost + "statcounter.com/counter/counter.js'></" + "script>");
    </script>
    <noscript><div class="statcounter"><a title="web analytics" href="https://statcounter.com/"><img class="statcounter" src="~/https://c.statcounter.com/11921154/0/6c07f98b/0/" alt="web analytics" /></a></div></noscript>
    <!-- End of StatCounter Code -->

</head>

<body class="v_dark" data-spy="scroll" data-offset="110">
    <div class="demo">


    </div>
    <!-- LOADER -->
    <!-- <div class="preloader">
        <div id="g-spinner" class="loading">
            <div class="circle c1"></div>
            <div class="circle c2"></div>
            <div class="circle c3"></div>
            <div class="circle c4"></div>
        </div>
    </div> -->
    <!-- END LOADER -->
    <!-- START HEADER -->
    <header class="header_wrap fixed-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand page-scroll" href="#home">
                    <img class="logo_light" src="~/styles/images/logo.png" alt="logo" />
                    <img class="logo_dark" src="~/styles/images/logo_dark.png" alt="logo" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="ion-android-menu"></span> </button>

                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li><a class="nav-link page-scroll" href="#how_it_work">How it Work</a></li>
                        <li><a class="nav-link page-scroll" href="#about">About</a></li>
                        <li><a class="nav-link page-scroll" href="#">Currencies</a></li>
                        <li><a class="nav-link page-scroll" href="#road_map">Road Map</a></li>

                    </ul>
                    <ul class="navbar-nav nav_btn">
                        <li><a class="btn btn-warning"  onclick="location.href='@Url.Action("Login", "Home")'" style="color: white;">Login</a></li>
                        @*<li><a class="nav-link page-scroll btn btn-warning"  onclick="location.href='@Url.Action("SignUp", "Home")'" style="color: white;">Sign Up</a></li>*@
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <!-- START HEADER -->
    <!-- START SECTION BANNER -->
    <section id="home" class="banner_section section_gradiant_dark small_pb">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12 col-sm-12 order-lg-first text_md_center">
                    <div class="banner_text">
                        <h1><span style="color: #ffb712;">WCC</span> Landing Page</h1>
                        <!--  <h3>Start Bitcoin mining today!</h3> -->
                        <p>
                            WCC is a professional asset management system.
                            WCC achieves high dividends through its own investment logic.
                            WCC is a new investment-type business model that uses MLM Binary.
                            Join now!
                        </p>
                        <div class="banner_btn">
                            <!-- 	<a href="#whitepaper" class="btn btn-default page-scroll nav-link">Whitepapter <i class="ion-ios-arrow-thin-right"></i></a> -->
                            @*<a  onclick="location.href='@Url.Action("SignUp", "Home")'" class="btn btn-warning" style="color: white;">Register Now! <i class="ion-ios-arrow-thin-right"></i></a>*@
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 order-first">
                    <div class="banner_image_right res_md_mb_50 res_xs_mb_30">
                        <img src="~/styles/images/banner_vector2.png" alt="banner_vector2" />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- START SECTION TIMELINE & MOBILE APP -->
    <section id="road_map" class="small_pt small_pb">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-8 col-md-12 offset-lg-2">
                    <div class="title_light">
                        <span>News & Update</span>
                        <h2>WCC News & Update</h2>
                        <p>
                            WCC has members all over the world.
                            WCC will open at the end of 2019.
                            Experience Millionaire on new opportunities
                        </p>
                    </div>
                </div>
            </div>
            <div class="roadmap owl-carousel small_space">
                <div class="item">
                    <div class="roadmap_box rd_complete">
                        <div class="roadmap_inner">
                            <div class="roadmap_icon icon_gradient_box"></div>
                            <h6>April 2020</h6>
                            <p>Lorem Ipsum Dolar Excepteur sint occaecat cupidatat non</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="roadmap_box rd_complete">
                        <div class="roadmap_inner">
                            <div class="roadmap_icon icon_gradient_box"></div>
                            <h6>February 2020</h6>
                            <p>  Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="roadmap_box rd_complete">
                        <div class="roadmap_inner">
                            <div class="roadmap_icon icon_gradient_box"></div>
                            <h6>March 2020</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="roadmap_box rd_complete">
                        <div class="roadmap_inner">
                            <div class="roadmap_icon icon_gradient_box"></div>
                            <h6>June 2020</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="roadmap_box rd_complete">
                        <div class="roadmap_inner">
                            <div class="roadmap_icon icon_gradient_box"></div>
                            <h6>October 2020</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="roadmap_box rd_complete">
                        <div class="roadmap_inner">
                            <div class="roadmap_icon icon_gradient_box"></div>
                            <h6>December 2020</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="roadmap_box rd_complete">
                        <div class="roadmap_inner">
                            <div class="roadmap_icon icon_gradient_box"></div>
                            <h6>December 2020</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="roadmap_box rd_complete">
                        <div class="roadmap_inner">
                            <div class="roadmap_icon icon_gradient_box"></div>
                            <h6>December 2020</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                    </div>
                </div>
            </div>


    </section>
    <!-- END SECTION TIMELINE & MOBILE APP -->
    <!-- START FOOTER SECTION -->
    <footer>
        <div class="top_footer bg_black_dark text_md_center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-6 col-sm-12 res_lg_mb_50 res_sm_mb_40">
                        <h4 class="footer_title">Social Media</h4>
                        <ul class="list_none footer_social">
                            <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                            <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                            <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                            <li><a href="#"><i class="ion-social-youtube-outline"></i></a></li>
                            <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-sm-12 res_lg_mb_50 res_sm_mb_40">
                        <div class="newsletter_form newslattter_small">
                            <h4 class="footer_title">Subscribe Our Newsletter</h4>
                            <form>
                                <div class="outline_input"><input type="text" required placeholder="Enter Email Address" /></div>
                                <button type="submit" title="Subscribe" class="btn btn-default" name="submit" value="Submit"><span class="ion-android-send"></span>Subscribe <i class="ion-ios-arrow-thin-right"></i></button>
                            </form>
                        </div>

                    </div>
                    <div class="col-xl-3 col-lg-12 col-sm-12">
                        <h4 class="footer_title">Quick Links</h4>
                        <ul class="list_none footer_link">
                            <li><a href="#">How It Works</a></li>
                            <li><a href="#">Currencies</a></li>
                            <li><a href="#">Road Map</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--   		<div class="rounded_shape light_rounded_shape4"></div> -->
        </div>
        <div class="bottom_footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p class="copyright">Copyright © 2020 All Rights Reserved.</p>
                    </div>
                    <div class="col-md-6">
                        <ul class="list_none footer_menu">
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms & Conditions</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- END FOOTER SECTION -->

    <a href="#" class="scrollup btn-default" style="display: none;"><i class="ion-ios-arrow-up"></i></a>

    <!-- Latest jQuery -->
    <script src="~/styles/js/jquery-1.12.4.min.js"></script>
    <!-- Latest compiled and minified Bootstrap -->
    <script src="~/styles/bootstrap/js/bootstrap.min.js"></script>
    <!-- owl-carousel min js  -->
    <script src="~/styles/owlcarousel/js/owl.carousel.min.js"></script>
    <!-- magnific-popup min js  -->
    <script src="~/styles/js/magnific-popup.min.js"></script>
    <!-- waypoints min js  -->
    <script src="~/styles/js/waypoints.min.js"></script>
    <!-- parallax js  -->
    <script src="~/styles/js/parallax.js"></script>
    <!-- countdown js  -->
    <script src="~/styles/js/jquery.countdown.min.js"></script>
    <!-- particles min js  -->
    <script src="~/styles/js/particles.min.js"></script>
    <!-- chart js  -->
    <script src="~/styles/js/Chart.bundle.js"></script>
    <script src="~/styles/js/Chart.PieceLabel.min.js"></script>
    <script src="~/styles/js/chart_script.js"></script>
    <!-- scripts js -->
    <script src="~/styles/js/scripts.js"></script>

</body>

<!-- Mirrored from bestwebcreator.com/cryptoking-landing-page/demo/index-dark.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 13 Dec 2019 05:39:44 GMT -->
</html>