<!DOCTYPE html>
<html lang="en">


<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- SITE TITLE -->
    <title>Crypto</title>
    <!-- Favicon Icon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png">
    <!-- Latest Bootstrap min CSS -->
    <link rel="stylesheet" href="styles/bootstrap/css/bootstrap.min.css">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="styles/css/ionicons.min.css">
    <!--- owl carousel CSS-->
    <link rel="stylesheet" href="styles/owlcarousel/css/owl.carousel.min.css">
    <link rel="stylesheet" href="styles/owlcarousel/css/owl.theme.css">
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="styles/css/magnific-popup.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="styles/css/style.css">
    <link rel="stylesheet" href="styles/css/responsive.css">
    <link id="layoutstyle" rel="stylesheet" href="styles/color/theme.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="~/https://www.googletagmanager.com/gtag/js?id=UA-106310707-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-106310707-1', { 'anonymize_ip': true });
    </script>

    <!-- Start of StatCounter Code -->
    <script>
  <!--
        var sc_project = 11921154;
        var sc_security = "6c07f98b";
        var scJsHost = (("https:" == document.location.protocol) ?
            "https://secure." : "http://www.");
        //-->

        document.write("<sc" + "ript src='" + scJsHost + "statcounter.com/counter/counter.js'></" + "script>");
    </script>
    <noscript><div class="statcounter"><a title="web analytics" href="https://statcounter.com/"><img class="statcounter" src="~/https://c.statcounter.com/11921154/0/6c07f98b/0/" alt="web analytics" /></a></div></noscript>
    <!-- End of StatCounter Code -->

</head>

<body class="v_dark" data-spy="scroll" data-offset="110">
    <div class="demo">


    </div>
    <!-- LOADER -->
    <!-- <div class="preloader">
        <div id="g-spinner" class="loading">
            <div class="circle c1"></div>
            <div class="circle c2"></div>
            <div class="circle c3"></div>
            <div class="circle c4"></div>
        </div>
    </div> -->
    <!-- END LOADER -->
    <!-- START HEADER -->
    <header class="header_wrap fixed-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand page-scroll" href="#home">
                    <img class="logo_light" src="~/styles/images/logo.png" alt="logo" />
                    <img class="logo_dark" src="~/styles/images/logo_dark.png" alt="logo" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="ion-android-menu"></span> </button>

                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li><a class="nav-link page-scroll" href="#how_it_work">How it Work</a></li>
                        <li><a class="nav-link page-scroll" href="#about">About</a></li>
                        <li><a class="nav-link page-scroll" href="#">Currencies</a></li>
                        <li><a class="nav-link page-scroll" href="#road_map">World Crypto City Plan</a></li>

                    </ul>
                    <ul class="navbar-nav nav_btn">
                        <li><a class="btn btn-warning" onclick="location.href='@Url.Action("LogIn", "Home")' " style="color: white;">Login</a></li>

                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <!-- START HEADER -->
    <!-- START SECTION BANNER -->
    <section id="home" class="banner_section section_gradiant_dark small_pb">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12 col-sm-12 order-lg-first text_md_center">
                    <div class="banner_text">
                        <p><span style="color: #ffb712;">WHAT IS World Crypto City?</p>
                        <!--  <h3>Start Bitcoin mining today!</h3> -->
                        <p>
                            World Crypto City is a professional asset management system.
                            World Crypto City achieves high dividends through its own investment logic.
                            World Crypto City is a new investment-type business model that uses MLM Binary <br>Join Now!.
                        </p>
                        <div class="banner_btn">
                            <!--  <a href="#whitepaper" class="btn btn-default page-scroll nav-link">Whitepapter <i class="ion-ios-arrow-thin-right"></i></a> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 order-first">
                    <div class="banner_image_right res_md_mb_50 res_xs_mb_30">
                        <img src="~/styles/images/banner_vector2.png" alt="banner_vector2" />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- START SECTION TIMELINE & MOBILE APP -->
    <!--
    <section id="road_map" class="small_pt small_pb">
      <div class="container">
        <div class="row text-center">
          <div class="col-lg-8 col-md-12 offset-lg-2">
            <div class="title_light">
          <p style="margin-bottom: 0px;">What is Crypto currency trade?</p>
          <h1 style="color: white;">Crypto Currency Trade</h1>
          <p>Transactions and arbitrage in cryptocurrencies.
    Pursue profits using professional traders and AI and EA.
    The volatility is very high and it is advantageous for securing profits.</p>

          <img src="~/img/money.jpg" alt="" width="100%" height="100%" />
            </div>
          </div>
        </div>
    </section> -->


    <div class="divider large_divider"></div>
    <div class="row text-center">
        <div class="col-md-12">
            <div class="title_light">
                <p class="animation" data-animation="fadeInUp" data-animation-delay="0.1s" style="color: #ffb712;">WHAT IS CRYPTO CURRENCY TRADE?</p>
                <h1 class="animation" data-animation="fadeInUp" data-animation-delay="0.1s" style="color: #fff">Crypto Currency Trade</h1>
            </div>
        </div>
    </div>
    <div class="row small_space justify-content-center">
        <div class="col-lg-9 col-md-12">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 res_md_mb_30">
                    <div class="team_box animation" data-animation="fadeInUp" data-animation-delay="0.05s">
                        <div class="team_img text-center">
                            <img src="~/img/ai.png" alt="team5" style="width:  50%;" />
                            <div class="social_team list_none">
                                <ul>
                                </ul>
                            </div>
                        </div>
                        <div class="team_info text-center">
                            <p style="text-align: left"> What is crypto currency trade?</p>
                            <p style="text-align: left">Crypto Currency Trade</p>
                            <p style="text-align: justify;">
                                Transactions and arbitrage in cryptocurrencies.
                                Pursue profits using professional traders and AI and EA.
                                The volatility is very high and it is advantageous for securing profits
                            </p>
                        </div>
                        <div id="team5" class="team_pop mfp-hide">
                            <div class="row m-0">
                                <div class="col-md-6">  </div>
                                <div class="col-md-6">
                                    <div class="pt-3 pb-3">
                                        <div class="title_dark">

                                        </div>
                                        <div class="social_single_team list_none">
                                            <ul>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 res_md_mb_30">
                    <div class="team_box animation" data-animation="fadeInUp" data-animation-delay="0.4s">
                        <div class="team_img text-center">
                            <img src="~/img/money_2.jpg" alt="team6" />
                            <div class="social_team list_none">
                                <ul>
                                </ul>
                            </div>
                        </div>
                        <div class="team_info text-center">

                            <p style="text-align: justify;">
                                Hyper business that can receive daily trading shares
                                Trade funds are automatically operated by EA + AI trade.
                                Semi-automatic operation mainly for ETH / BTC
                                Implementing high yields of 15% to 35% on average per month
                                Trade Profit reflects daily
                            </p>
                        </div>
                        <div id="team6" class="team_pop mfp-hide">
                            <div class="row m-0">
                                <div class="col-md-6">   </div>
                                <div class="col-md-6">
                                    <div class="pt-3 pb-3">
                                        <div class="title_dark">

                                        </div>
                                        <div class="social_single_team list_none">
                                            <ul>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 offset-lg-0 col-md-6 offset-md-3 col-sm-6 offset-sm-3">
                    <div class="team_box animation" data-animation="fadeInUp" data-animation-delay="0.7s">
                        <div class="team_img text-center">
                            <img src="~/img/landing1.png" alt="team7" style="width: 67%" />
                            <div class="social_team list_none">
                                <ul>
                                </ul>
                            </div>
                        </div>
                        <div class="team_info text-center">

                            <p style="text-align: justify;">
                                Crypto Currency trading has changed.
                                Margin trading users are increasing worldwide.
                                <br>
                                <br>
                                <br>
                                <br>

                            </p>

                        </div>
                        <div id="team7" class="team_pop mfp-hide">
                            <div class="row m-0">
                                <div class="col-md-6">   </div>
                                <div class="col-md-6">
                                    <div class="pt-3 pb-3">
                                        <div class="title_dark">

                                        </div>
                                        <div class="social_single_team list_none">
                                            <ul>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <section id="about" class="small_pt small_pb">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="title_light">


                        <!--  <img src="~/img/ai.png" alt="aboutimg" style="width: 70%" />  -->
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="animation res_sm_mt_30" data-animation="fadeInRight" data-animation-delay="0.1s">
                        <!-- <span class="animation" data-animation="fadeInUp" data-animation-delay="0.2s">What is crypto currency trade?</span>
                                  <h2 class="animation" data-animation="fadeInUp" data-animation-delay="0.3s" style="color: white">Crypto Currency Trade</h2>
                                  <p style="color: #fff;" class="animation" data-animation="fadeInUp" data-animation-delay="0.4s">Transactions and arbitrage in cryptocurrencies.
                        Pursue profits using professional traders and AI and EA.
                        The volatility is very high and it is advantageous for securing profits. </p> -->

                    </div>
                </div>
            </div>

            <!--     <section id="road_map" class="small_pt small_pb">
              <div class="container">
                <div class="row text-center">
                  <div class="col-lg-8 col-md-12 offset-lg-2">
                    <div class="title_light">

                  <img src="~/img/money_2.jpg" alt=""  />
                  <p>Transactions and arbitrage in cryptocurrencies.
            Pursue profits using professional traders and AI and EA.
            The volatility is very high and it is advantageous for securing profits.</p>

                    </div>
                  </div>
                </div>
            </section> -->


            <div class="divider large_divider"></div>
            <div class="row text-center">
                <div class="col-lg-8 col-md-12 offset-lg-2">
                    <div class="title_light">
                        <span class="animation" data-animation="fadeInUp" data-animation-delay="0.1s" style="color: #ffb712;">Why Crypto?</span>
                        <h2 class="animation" data-animation="fadeInUp" data-animation-delay="0.2s">Competitive Benefit</h2>
                        <p class="animation" data-animation="fadeInUp" data-animation-delay="0.3s">Competitive advantages are conditions that allow a company or country to produce a good or service at equal value but at a lower price or in a more desirable fashion</p>
                    </div>
                </div>
            </div>




            <div class="row text-center small_space benefit_wrap">
                <div class="col-lg-2 col-md-4 col-6">
                    <div class="benefit_box animation" data-animation="fadeInUp" data-animation-delay="0.1s">
                        <img src="~/img/secure.png" alt="secure" />
                        <h6>Safe & Secure</h6>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-6">
                    <div class="benefit_box animation" data-animation="fadeInUp" data-animation-delay="0.2s">
                        <img src="~/img/token.png" alt="token" />
                        <h6>Referal Bonus</h6>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-6">
                    <div class="benefit_box animation" data-animation="fadeInUp" data-animation-delay="0.3s">
                        <img src="~/img/payment.png" alt="payment" />
                        <h6>Easy Payment</h6>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-6">
                    <div class="benefit_box animation" data-animation="fadeInUp" data-animation-delay="0.4s">
                        <img src="~/img/case.png" alt="case" />
                        <h6>Daily Cash Outs</h6>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-6">
                    <div class="benefit_box animation" data-animation="fadeInUp" data-animation-delay="0.5s">
                        <img src="~/img/app.png" alt="app" />
                        <h6>Transaction</h6>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-6">
                    <div class="benefit_box animation" data-animation="fadeInUp" data-animation-delay="0.6s">
                        <img src="~/img/dilution.png" alt="dilution" />
                        <h6>NO DILUTION</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="road_map" class="small_pt small_pb">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-8 col-md-12 offset-lg-2">
                    <div class="title_light">
                        <span style="color: #ffb712;">News Plan</span>
                        <h2>World Crypto City Plan</h2>
                        <p>
                            World Crypto City has members all over the world.
                            World Crypto City will open at the end of 2019
                            Experience Millionare on new oppurtunities
                        </p>
                    </div>
                </div>
            </div>

    </section>
    <!-- END SECTION TIMELINE & MOBILE APP -->
    <!-- START FOOTER SECTION -->
    <footer>
        <div class="top_footer bg_black_dark text_md_center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-6 col-sm-12 res_lg_mb_50 res_sm_mb_40">
                        <h4 class="footer_title">Social Media</h4>
                        <ul class="list_none footer_social">
                            <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                            <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                            <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                            <li><a href="#"><i class="ion-social-youtube-outline"></i></a></li>
                            <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-sm-12 res_lg_mb_50 res_sm_mb_40">
                        <div class="newsletter_form newslattter_small">
                            <h4 class="footer_title">Subscribe Our Newsletter</h4>
                            <form>
                                <div class="outline_input"><input type="text" required placeholder="Enter Email Address" /></div>
                                <button type="submit" title="Subscribe" class="btn btn-default" name="submit" value="Submit"><span class="ion-android-send"></span>Subscribe <i class="ion-ios-arrow-thin-right"></i></button>
                            </form>
                        </div>

                    </div>
                    <div class="col-xl-3 col-lg-12 col-sm-12">
                        <h4 class="footer_title">Quick Links</h4>
                        <ul class="list_none footer_link">
                            <li><a href="#">How It Works</a></li>
                            <li><a href="#">Currencies</a></li>
                            <li><a href="#">World Crypto City Plan</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--      <div class="rounded_shape light_rounded_shape4"></div> -->
        </div>
        <div class="bottom_footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p class="copyright">Copyright © 2020 All Rights Reserved.</p>
                    </div>
                    <div class="col-md-6">
                        <ul class="list_none footer_menu">
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms & Conditions</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- END FOOTER SECTION -->

    <a href="#" class="scrollup btn-default" style="display: none;"><i class="ion-ios-arrow-up"></i></a>

    <!-- Latest jQuery -->
    <script src="~/styles/js/jquery-1.12.4.min.js"></script>
    <!-- Latest compiled and minified Bootstrap -->
    <script src="~/styles/bootstrap/js/bootstrap.min.js"></script>
    <!-- owl-carousel min js  -->
    <script src="~/styles/owlcarousel/js/owl.carousel.min.js"></script>
    <!-- magnific-popup min js  -->
    <script src="~/styles/js/magnific-popup.min.js"></script>
    <!-- waypoints min js  -->
    <script src="~/styles/js/waypoints.min.js"></script>
    <!-- parallax js  -->
    <script src="~/styles/js/parallax.js"></script>
    <!-- countdown js  -->
    <script src="~/styles/js/jquery.countdown.min.js"></script>
    <!-- particles min js  -->
    <script src="~/styles/js/particles.min.js"></script>
    <!-- chart js  -->
    <script src="~/styles/js/Chart.bundle.js"></script>
    <script src="~/styles/js/Chart.PieceLabel.min.js"></script>
    <script src="~/styles/js/chart_script.js"></script>
    <!-- scripts js -->
    <script src="~/styles/js/scripts.js"></script>

</body>

<!-- Mirrored from bestwebcreator.com/cryptoking-landing-page/demo/index-dark.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 13 Dec 2019 05:39:44 GMT -->
</html>