@{
    ViewBag.Title = "World CryptoCity | Sign Up";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model SignUpVM


<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 auth-left" style="overflow-y:auto; display: block">
                <div class="row auth-form mb-4" style="margin-left:auto; margin-right:auto; padding-top:45px;">
                    <div class="col-12 col-sm-12">
                        <div class="auth-text-top mb-4">
                            <h1>Sign Up</h1>
                        </div>

                        <form class="form-horizontal" onsubmit=" sendFormData('@Url.Action("SignUp", "Home")','POST',this); return false">


                            @*<div class="form-group">
                                <label for="name">First Name</label>
                                <div class="input-icon">
                                    <i class="mdi user-circle-outline"></i>
                                    <input type="text" class="form-control" id="username" asp-for="FirstName" name="FirstName" placeholder="Enter First Name" autofocus>

                                </div>

                            </div>

                            <div class="form-group">
                                <label for="name">Last Name</label>
                                <div class="input-icon">
                                    <i class="mdi user-circle-outline"></i>
                                    <input type="text" class="form-control" id="username" asp-for="LastName" name="LastName" placeholder="Enter Last Name" autofocus>

                                </div>
                            </div>*@


                            <div class="form-group">
                                <label for="name">User Name</label>
                                <div class="input-icon">
                                    <i class="mdi user-circle-outline"></i>
                                    <input type="text" class="form-control" id="username" asp-for="Username" name="UserName" placeholder="Enter Desired Username" autofocus>

                                </div>
                            </div>

                            <div class="form-group">
                                <label for="email">Email</label>
                                <div class="input-icon">
                                    <i class="mdi mdi-email"></i>
                                    <input type="text" class="form-control" id="username" asp-for="Email" name="Email" placeholder="Enter Email" autofocus>

                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="password">Password</label>
                                <div class="input-icon">
                                    <i class="mdi mdi-lock"></i>
                                    <span class="passtoggle mdi mdi-eye toggle-password"></span>
                                    <input type="password" class="form-control" asp-for="Password" name="PasswordString" placeholder="Enter Your Password">
                                </div>
                            </div>

                            <div class="form-group ">
                                <label for="password">Confirm Password</label>
                                <div class="input-icon">
                                    <i class="mdi mdi-lock"></i>
                                    <span class="passtoggle mdi mdi-eye toggle-password"></span>
                                    <input type="password" class="form-control" placeholder="Enter Your Confirm Password">
                                </div>
                            </div>
                            <hr />

                            <div class="form-group">
                                <label for="name">Introducer Username</label>
                                <div class="input-icon">
                                    <i class="mdi mdi-user"></i>
                                    <input type="text" class="form-control" id="username" asp-for="DirectSponsorID" name="DirectSponsorID" placeholder="Introducer ID" autofocus required readonly>

                                </div>
                            </div>

                            <div class="form-group">
                                <label for="name">Binary Sponsor Username</label>
                                <div class="input-icon">
                                    <i class="mdi mdi-user"></i>
                                    <input type="text" class="form-control" id="username" asp-for="BinarySponsorID" name="BinarySponsorID" placeholder="Binary Sponsor ID" autofocus required readonly>

                                </div>
                            </div>

                            <div class="form-group">
                                <label for="name">Binary Position</label>
                                <div class="input-icon">
                                    <i class="mdi mdi-user"></i>

                                    <select class="form-control" asp-for="BinaryPosition" name="BinaryPosition" readonly>
                                        <option value=1>Left</option>
                                        <option value=2>Right</option>
                                    </select>
                                </div>
                            </div>


                            <div class="d-flex form-check">
                                <!--          	<input type="checkbox"> <p>I aggree with  <a href="#">Term of Service</a> -->

                            </div>
                            <button onclick="showPreload(this);" class="btn btn-primary btn-block btn-c mt-4 mb-4">Submit</button>
                        </form>
                        <div class="btn-social mb-4">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 auth-right d-lg-flex d-none bg-gradient" id="particles">
                <div class="logo">
                </div>
                <div class="heading">
                </div>
                <div class="shape"></div>
            </div>
        </div>
    </div>
</section>




@section Scripts{

    <script src="~/assets/jquery-3.3.1.min.js"></script>
    <script src="~/assets/popper.min.js"></script>
    <script src="~/assets/bootstrap.min.js"></script>
    <script src="~/assets/particles.js"></script>
    <script src="~/assets/custom.js"></script>
    <script src="~/js/site_v2.js"></script>
    <script>

        $(".toggle-password").click(function () {

            $(this).toggleClass("fa-eye fa-eye-slash");
            var input = $($(this).attr("toggle"));
            if (input.attr("type") == "password") {
                input.attr("type", "text");
            } else {
                input.attr("type", "password");
            }
        });</script>
}


