<!DOCTYPE html>
<html lang="zxx" class="js">



<!-- Mirrored from frontend.test/success by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 13 Dec 2019 02:09:42 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="utf-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Fully featured and complete ICO Dashboard template for ICO backend management.">
    <!-- Fav Icon -->
    @*<link rel="shortcut icon" href="images/favicon.html">*@
    <!-- Site Title  -->
    <title>Verify Form</title>


    <script src="~/asset/js/jquery.bundle49f7.js"></script>
    <script src="~/asset/js/script49f7.js"></script>
    <!-- Vendor Bundle CSS -->
    <link rel="stylesheet" href="~/asset/css/vendor.bundle49f7.css">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="~/asset/css/style49f7.css">
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o), m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'www.google-analytics.com/analytics.html', 'ga');
        ga('create', 'UA-91615293-2', 'auto');
        ga('send', 'pageview');
    </script>
</head>

<body class="page-user">



    <div class="page-header page-header-kyc">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-xl-7 text-center">

                </div>
            </div>
        </div>
        <!-- .container -->
    </div>
    <!-- .page-header -->
    <div class="page-content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10 col-xl-9">
                    <div class="kyc-status card mx-lg-4">
                        <div class="card-innr">
                            <div class="status status-thank px-md-5">
                                <div class="status-icon"><em class="ti ti-check"></em></div><span class="status-text large text-dark">The Participation of WCC Trade was successful.<br> Expect a divided. Goodluck</span>
                                <p class="px-md-5"></p><a href="wallet.html" class="btn btn-success">Home</a>
                            </div>
                        </div>
                    </div>

                    <!-- .container -->
                </div>

            </div>
        </div>
    </div>      
</body>



<!-- Mirrored from frontend.test/success by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 13 Dec 2019 02:09:46 GMT -->
</html>